body {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    border-bottom: 4px double #a7a1a1;
}

.site-header {
    background-color: #5f4a85;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.site-footer {
    background-color: #5f4a85;
    position: fixed;
    width: 800px;
    display: block;
    bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.column {
   flex: 50%;
   padding: 10px;
   height: 200px;
}

.row {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #938d8d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

